@page "/"
@page "/test"
@page "/test/param1"
@page "/test/param1/param2"
@page "/test/param1/param2/param3"

@inherits IndexBase

<h4>BlazorCommonBase - an example application of common base class of pages by eMeL.hu </h4>

<h5>@title</h5>

<hr />


